# PANDAS WITH POKEMON!!

#### Learn Pandas using the Pokemon database while utilizing the most commonly used codes. The Codes are broken into individual cells apart from a few similar ones. The Codes with permanent impact on the data are commented out with a single # in case of accidental execution.

1. Loading data into Pandas

In [97]:
import pandas as pd

poke = pd.read_csv('pokemon_data.csv')

2. Reading Data

In [ ]:
## read first 5 rows
poke.head()
## OR
print(poke.head())

In [ ]:
## read last 5 rows
poke.tail()

In [ ]:
## read n no of rows (Head/Tail)
poke.head(3)
## OR
poke.tail(3)

In [ ]:
## read headers/cols
(poke.columns)

In [ ]:
## read specific col
poke.Name 
## OR 
poke["Name"]

In [ ]:
## read a range of cols
poke.Name[0:5]

In [ ]:
## read multiple cols
poke[['Name','Type 1']]

In [ ]:
## read specific rows/records
poke.iloc[0]

In [ ]:
## read a range of rows
poke.iloc[0:4]

In [ ]:
## read a specific location(R, C)
poke.iloc[4,1]

In [ ]:
## iterate each row
for index, row in poke.iterrows():
    print(index, row)

In [ ]:
## iterate single col
for index, row in poke.iterrows():
    print(index, row['Name'])

In [ ]:
## read specific text using loc
poke.loc[poke["Type 1"] == 'Fire']

3. Sort/Describe Data

In [ ]:
## stats of data (count, Mean, std, min, max etc)
poke.describe()

In [ ]:
## sort col (asc)
poke.sort_values('Name')

In [ ]:
## sort col (desc)
poke.sort_values('Name', ascending=False)

In [ ]:
## sort multiple cols (asc, desc)
poke.sort_values(['Type 1', 'HP'], ascending=[1, 0])

4. Make Changes to the data

In [ ]:
## new column
# poke['Total'] = poke['HP'] + poke['Attack'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed']

## OR using iloc [all rows(:), start, end].sum horizontally
# poke['Total 2'] = poke.iloc[:, 4:10].sum(axis = 1) 

poke.head(5)

In [ ]:
## drop a column
# poke.drop(columns = 'Total 2')

In [ ]:
## rearrange header
# poke.columns
# poke_new = ["#", "Name", "Type 1",  "Type 2",  "HP",  "Attack",  "Defense",  "Sp. Atk", "Sp. Def", "Speed", "Total", "Generation", "Legendary"]
# poke = poke.reindex(columns = poke_new)
# poke

5. Save data to desired format

In [142]:
## save data as csv
# poke.to_csv('testing.csv')

## save csv without indexes
# poke.to_csv('testing.csv', index=False)

## save data as excel
# poke.to_excel('testing.xlsx', index=False)

## save data as text
# poke.to_csv('testing.txt', index=False, sep='\t')

6. Filter data

In [ ]:
## filtering data with And
poke.loc[(poke['Type 1'] == 'Fire') & (poke['Type 2'] == 'Fighting') & (poke['HP'] > 70)]

In [ ]:
## filtering data with Or
poke.loc[(poke['Type 1'] == 'Fire') | (poke['Type 2'] == 'Fighting')]

In [ ]:
## reset indexes
poke.loc[(poke['Type 1'] == 'Fire') | (poke['Type 2'] == 'Fighting')].reset_index()

In [ ]:
## drop old indexes
poke.loc[(poke['Type 1'] == 'Fire') | (poke['Type 2'] == 'Fighting')].reset_index(drop=True)

In [ ]:
## get rows containing a specific word (inclusion)
poke.loc[poke['Name'].str.contains('Mega')]

In [ ]:
## NOT Get rows containing a specific word (exclusion)
poke.loc[~poke['Name'].str.contains('Mega')]

7. Include something using Regex

In [ ]:
## import Regex
import re

## include record that start with ab, ignore case sensitivity
poke.loc[poke['Name'].str.contains('^ab[a-z]*', flags=re.I, regex=True)]

In [ ]:
## include record that contain ab anywhere
poke.loc[poke['Name'].str.contains('ab[a-z]*', flags=re.I, regex=True)]

8. Conditional Changes

In [ ]:
## change one word to another
# poke.loc[poke['Type 1'] == 'Grass', 'Type 1'] = 'Leaves'

## change back
# poke.loc[poke['Type 1'] == 'Leaves', 'Type 1'] = 'Grass'

poke.head()

In [ ]:
## change one column based on another. (If Type is Fire, then all Fire types are Legendary)
# poke.loc[poke['Type 1'] == 'Fire','Legendary'] = 'True'

In [ ]:
## conditional change
# poke.loc[poke['Total'] > 500, ['Generation','Legendary']] = 'TEST 1'

In [ ]:
## multi conditional change
# poke.loc[poke['Total'] > 500, ['Generation','Legendary']] = ['TEST 1', 'Test 2']

9. Group By

In [ ]:
## filter the reqd. cols + group by + mean + sort desc + round
poke.filter(items=['Type 1', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total', 'Legendary']).groupby('Type 1').mean().sort_values('HP', ascending=False).round(2)

In [ ]:
## filter + group by 2 cols + sum (Add the 'Total' col. too if present)
poke.filter(items=['Type 1', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']).groupby(['Generation', 'Type 1']).sum()
## OR 
poke.groupby(['Generation', 'Type 1'])[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Legendary']].sum()

In [ ]:
## select just Gen 1 within group by using loc (Add the 'Total' col. too if present)
poke.groupby(['Generation', 'Type 1'])[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum().loc[(1, )]

In [ ]:
## count
poke.groupby(['Type 1']).count()

## clean count
poke['Count'] = 1
poke.groupby(['Type 1']).count()['Count']

10. Misc.

In [76]:
## display all columns
# pd.options.display.max_columns = None

## display all rows
# pd.options.display.max_rows = None

## set max row width
# pd.options.display.width = None

## reset all
# pd.reset_option('^display.', silent=True)

In [ ]:
## load chunks of data
# for poke in pd.read_csv('pokemon_data.csv', chunksize=5):
#         print("CHUNK")
#         print(poke)

In [101]:
# View the dataframe
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True